<% content_for :admin_content do %>
<% content_for :title, "New album" %>

<h1>New album</h1>

<%= render "form", album: @album %>

<br>

<div>
  <%= link_to "Back to albums", admin_albums_path %>
</div>
<% end %>