<% content_for :admin_content do %>

<h1>New album</h1>

<%= render "form", album: @album, authors: @authors, genres: @genres %>

<br>

<div>
  <%= link_to "Back to albums", admin_albums_path %>
</div>
<% end %>