<% content_for :admin_content do %>

<%= render @album %>

  <div class="d-flex justify-content-between align-items-center mb-4">

    <div>
      <%= link_to "Volver a álbumes", admin_albums_path, class: "btn btn-secondary" %>
    </div>

    <div class="d-flex gap-2">
      <%= link_to "Editar este álbum", edit_admin_album_path(@album), class: "btn btn-warning" %>

      <%= button_to "Eliminar este álbum",
        [:admin, @album],
        method: :delete,
        data: { confirm: "¿Estás seguro de que quieres eliminar este álbum?" },
        class: "btn btn-danger" %>
    </div>
  </div>
<% end %>