<% content_for :admin_content do %>

<%= render @album %>

  <div class="d-flex align-items-center mb-4 gap-2">

    <%= link_to "Volver a álbumes", admin_albums_path, class: "btn btn-secondary" %>

    <%= link_to "Editar este álbum", edit_admin_album_path(@album), class: "btn btn-warning" %>
  </div>
<% end %>