<% content_for :admin_content do %>
  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Authors" %>

  <h1>Authors</h1>

  <div id="authors">
    <% @authors.each do |author| %>
      <%= render author %>
      <p>
        <%= link_to "Show this author", admin_author_path(author) %>
      </p>
    <% end %>
  </div>

  <%= link_to "New author", new_admin_author_path %>
<% end %>
