<% content_for :admin_content do %>
<% content_for :title, "Editing genre" %>

<h1>Editing genre</h1>

<%= render "form", genre: @genre %>

<br>

<div>
  <%= link_to "Show this genre", admin_genre_path(@genre) %> |
  <%= link_to "Back to genres", admin_genres_path %>
</div>
<% end %>
