<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<h2>Secciones implementadas de la página</h2>
<ul>
  <li>
    <%=link_to "Ir a la página de administración", admin_users_path %>
  </li>
</ul>
