@media (min-width: 768px) {
  .w-md-25 {
    width: 25% !important;
  }
}

/* Ocultar inicialmente en móviles */
@media (max-width: 768px) { 
    .collapse-content {
        display: none;
    }
}

/* Mostrar el contenido cuando JavaScript añade la clase 'show' */
.collapse-content.show {
    display: block !important;
}